<h1>Request an Item</h1>

<form action="/" method="post">
  <label for="item">Which item would you like?</label>
  <input name="item" size="35" class="form-control" id="item" placeholder="3 potatoes"/>
  <button type="submit" class="btn btn-primary">Request Item</button>
</form>
