body {
    font-family: sans-serif;
  }

  #app {
    height: 100vh;
  }

  a {
    text-decoration: none;
  }

  i {
    margin-right: 5px;
  }

  label {
    display: block;
  }

  nav#main {
    text-align: center;
    background: #fff;
    border-top: #999 solid 2px;
  }

  nav a {
    display: inline-block;
    margin: .5em;
    color: #000;
    font-size: 20px
  }

  form div {
    margin: 1em;
    display: inline-block;
  }

  #title, h1, h2, h3, h4 {
    font-family: 'Handlee', sans-serif;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    text-align: center;
    width: 100%;
  }

  #title>h3{
    margin-bottom: 0;
  }

  #title {
    text-align: center;
    padding: 1.5rem;
    margin-bottom: 0;
    background-color: #fff;
    border-bottom: 1px solid rgba(0,0,0,.5);
  }

  .title-hr {
    margin-top: 0!important;
    height: 13vh;
  }

  .item-card, .request-ticket-card {
    list-style: none !important;
  }

  .card-icon {
    padding: 8px;
    height: 5rem;
    width: 5rem;
    display: inline-block;
  }

  .card-body-wrapper {
    line-height: 5rem;
    margin-bottom: 1rem;
  }

  .card-body-wrapper:last-child {
    margin-bottom: 0;
  }

  .card-text-wrapper {
    padding-left: 1rem;
  }

  .card-title {
    display: inline-block;
  }

  .card-text {
    line-height: 1rem;
  }

  ul {
    padding-left: 0;
  
  }

  .menu-icon {
    width: 3rem;
  }

  #addItem {
    display: inline-block;
    float: right;
  }

  .pantry-title {
    display: inline-block;
  }

  .ledger-list {
    height: 110vh;
  }

  option {
    font-size: .75rem;
  }
  .requested-items {
    text-align: center;
  }
  .requested-items>button{
    margin-bottom: 1rem
  }

  /**
  * LOGIN STYLE
  **/
  .login form {
    height: 84vh;
    padding: 2rem;
    background-color: #bced91
  }

  .login h1 { color: #fff; text-shadow: 0 0 10px rgba(0,0,0,0.3); letter-spacing:1px; text-align:center; }

  .login input {
    width: 100%;
    margin-bottom: 10px;
    background: rgba(0,0,0,0.3);
    border: none;
    outline: none;
    padding: 10px;
    font-size: 13px;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 4px;
    box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
    -webkit-transition: box-shadow .5s ease;
    -moz-transition: box-shadow .5s ease;
    -o-transition: box-shadow .5s ease;
    -ms-transition: box-shadow .5s ease;
    transition: box-shadow .5s ease;
  }
  input:focus { box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2); }

  .auth-form-bg {
    background-color: #BCED91;
  }

  /*
  **LEDGER STYLES
  */
  .ledger-item-img {
    width: 8%;
    height: auto;
  }

