body {
    font-family: sans-serif;
  }
  
  a {
    text-decoration: none;
  }

  i {
    margin-right: 5px;
  }
  
  label {
    display: block;
  }
  
  nav a {
    display: inline-block;
    margin: 1em;
  }
  
  form div {
    margin: 1em;
    display: inline-block;
  }

  .item-card {
    list-style: none !important;
  }

  .market-list {
    padding-left: 0;
  }